* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
}

/* header styles */

header {
  background-image: url(../images/banner/banner3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #005fac;
  height: 1077px;
  margin-left: -230px;
}
.header_container {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  padding: 350px 300px 0;
  color: white;
}
.header_text {
  width: 550px;
}
.header_text h1 {
  font-weight: 700;
  font-size: 75px;
}
.header_text p {
  margin: 24px 0 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
}
.header_text button {
  font-weight: 600;
  font-size: 24px;
  padding: 24px 25px;
  color: #005fac;
  background: #ffffff;
  border: none;
  border-radius: 5px;
}

/* failure styles */
section {
  width: 1250px;
  margin: 150px auto;
}
.failer_container {
  display: flex;
  align-items: center;
  gap: 130px;
}
.failer_container img {
  width: 575px;
}
.failer_container h3 {
  font-weight: 700;
  font-size: 50px;
  color: #151414;
}
.failer_container p {
  font-weight: 400;
  font-size: 21px;
  line-height: 35px;
  color: #444343;
  margin: 24px 0;
}
.failer_container ul li {
  list-style: none;
  font-weight: 400;
  font-size: 19px;
  line-height: 40px;
  color: #444343;
}
.failer_container ul i {
  color: #16d887;
  font-size: 25px;
  margin: 0 15px 0 0;
}

/* my plans styles */

.myplans h3 {
  font-weight: 700;
  font-size: 50px;
  color: #151414;
  text-align: center;
  margin: 0 0 50px;
}
.plans_container {
  display: flex;
  text-align: center;
  gap: 50px;
}
.plans_content {
  width: 300px;
  height: 197px;
}
.plans_content img {
  width: 100px;
}
.myplans h4 {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
  text-align: center;
  margin: 25px 0 25px;
}
.myplans p {
  font-weight: 500;
  font-size: 29px;
  line-height: 35px;
  color: #737272;
  margin: 24px 0;
}

/* call now styles */
.callnow {
  background-image: linear-gradient(
      to left,
      rgba(245, 246, 252, 0.4),
      rgba(63, 114, 255, 0.6)
    ),
    url(../images/watch.png);
  width: 80%;
  height: 400px;
  background-size: cover;
  color: white;
  padding: 20px 0 150px;
  border-radius: 15px;
}

.callnow button {
  font-size: 22px;
  font-weight: 500;
  padding: 18px 25px;
  background: white;
  border-radius: 8px;
  color: #008cff;
  border: none;
}
.call_content {
  padding: 150px 0 150px 70px;
}
.call_content {
  font-weight: 700;
  font-size: 50px;
  text-align: left;
  margin: 0 0 50px;
  width: 700px;
}

/* Bonus section styles */

.bonus {
  background: url("../images/banner/me.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  width: 80%;
  color: white;
  border-radius: 15px;
}
.about {
  padding: 200px;
  line-height: 25px;
  width: 500px;
}
.about h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 30px;
}
.about span {
  color: #008cff;
  font-size: 55px;
  font-weight: 800;
}
.about th {
  padding: 10px 0 5px;
  text-decoration: underline;
}
.about th,
.about td {
  width: 135px;
  text-align: left;
  margin-bottom: 15px;
}
.about table {
  padding-bottom: 20px;
  border-bottom: 1px dashed #008cff;
}
.about b {
  color: yellow;
}
/* footer styles */

footer {
  background: #000000;
  color: white;
}
.footer_container {
  display: flex;
  gap: 470px;
  width: 1295px;
  margin: 0 auto;
  padding: 150px 0;
}
.footer_common {
  width: 485px;
}
footer h3 {
  font-weight: 700;
  font-size: 50px;
  text-align: left;
  margin: 0 0 50px;
}
footer p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin: 24px 0;
}
.footer_left img {
  width: 45px;
}
footer ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

footer b {
  font-size: 24px;
  font-weight: 500;
}
footer form {
  margin-top: 30px;
}
footer form input[type="email"]::placeholder {
  font-size: 16px;
  font-weight: 500;
}
footer form input[type="email"] {
  padding: 18px 25px;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 250px;
  color: white;
  font-weight: 500;
  background: rgba(0, 0, 0, 0);
}
.footer_btn {
  font-size: 18px;
  font-weight: 500;
  padding: 18px 25px;
  background: #005fac;
  border-radius: 8px;
  color: white;
}
